ADVANTRA>NEURON_STALKER,        "Neuron Stalker",       NeuronStalker
ADVANTRA>NEURON_STALKER,        "-"
ADVANTRA>NEURON_STALKER,        "Spatial Distance",     Evaluator
ADVANTRA>NEURON_STALKER,        "Swc Reindex",          SwcReindex
ADVANTRA>NEURON_STALKER,        "Swc Test",             SwcTest
