ADVANTRA>CRITPOINT>DETECT,"Detection V1", detection.JunctionDet
ADVANTRA>CRITPOINT>DETECT,"Detection V1.1", detection.JunctionDet_v11
ADVANTRA>CRITPOINT>DETECT,"Trace", detection.JunctionTrace
ADVANTRA>CRITPOINT>DETECT,"Detect (Synthetic data)", detection.DetectorDemo
ADVANTRA>CRITPOINT>DETECT,"Detect ", detection.JunctionDetection

ADVANTRA>CRITPOINT>GENERATE,"Generate V1", generate.GeneratorDemo

ADVANTRA>CRITPOINT>ANNOTATE,"Annotate", annotate.Annotationer

ADVANTRA>CRITPOINT,"Extract Mask", detection.MaskerDemo
ADVANTRA>CRITPOINT,"Connected Regions", detection.ConnectedRegions
ADVANTRA>CRITPOINT,"DynamicProfileInspector",detection.DynamicProfileInspector
ADVANTRA>CRITPOINT,"Neuriteness",detection.MyHessianDemo
ADVANTRA>CRITPOINT,"FuzzificationDemo",detection.FuzzyDemo
ADVANTRA>CRITPOINT,"IntensityAlongLine",detection.IntensityAlongLine

ADVANTRA>TOOLS,"DownsampleImage",downsample.Downsample