Advantra>Critpoint,"GetPeaks", profile.MS2DDemo
Advantra>Critpoint,"Detection", profile.JunctionDet
Advantra>Critpoint,"GetMask", profile.MaskerDemo
Advantra>Critpoint,"ConnectedRegions", profile.ConnectedRegions
Advantra>Critpoint,"DrawOverlay",profile.DrawOverlay
Advantra>Critpoint,"DynamicProfileInspector",profile.DynamicProfileInspector
Advantra>Critpoint,"DynamicPixelInspector",profile.Dynamic_Pixel_Inspector
#Advantra>Critpoint,"Extract Features", ExtractFeatures
Advantra>Critpoint,"Test", TestPlot
#Advantra>Critpoint,"Show Annotation",ShowAnnotation