Advantra>Tools,"Binarise Image (Otsu method)", advantra.plugins.BinarizeImage
Advantra>Tools,"Connected Regions", advantra.plugins.ConnectedRegions
Advantra>Tools,"Remove Background",advantra.plugins.BackgroundRemoveTool
Advantra>Tools,"Just open file", advantra.plugins.OpenFile

Advantra>Process,"Extract Differential Features",advantra.plugins.ExtractDifferentialStructure

Advantra>Tracing,"Trace",advantra.plugins.NeuronTraceRecursive
Advantra>Tracing,"Compare",advantra.plugins.CompareRecs

Advantra>Critical Point,"GenerateBifs",advantra.critpoint.GenerateBranch
Advantra>Critical Point,"DemoClassification", advantra.critpoint.DemoClassification
#Advantra>Critical Point,"VizFeatures", advantra.critpoint.VizFeatures
Advantra>Critical Point,"DemoFeatures", advantra.critpoint.DemoFeatures
Advantra>Critical Point,"DemoFilters", advantra.critpoint.DemoFilters
Advantra>Critical Point,"CreateMaskFromROI", advantra.plugins.CreateMaskFromROI

Advantra>Critical Point>MLdetection, "AdaBoost Training LDA", MLdetection.MLtrainingPatchLDA_
Advantra>Critical Point>MLdetection, "AdaBoost Training on Patches", MLdetection.MLtrainingPatch_
Advantra>Critical Point>MLdetection, "AdaBoost Detection (Image)", MLdetection.MLdetectionImage_

Advantra>Critical Point>AdaBoost Detection, "Create Patches", advantra.critpoint.ExtractPatches
Advantra>Critical Point>AdaBoost Detection, "Train Patches", advantra.critpoint.TrainPatches
Advantra>Critical Point>AdaBoost Detection, "Test Patches", advantra.critpoint.TestPatches